body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  background-color: #f8f9fc;
}

#wrapper {
  display: flex;
  min-height: 100vh;
}

#content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
}

.sidebar {
  min-height: 100vh;
}

.topbar {
  height: 4.375rem;
}

.topbar .navbar-search {
  width: 25rem;
}

.table th,
.table td {
  vertical-align: middle;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
  border-left: 0.25rem solid #e74a3b !important;
}

.card {
  border-radius: 0.35rem;
}

.card-header {
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 1rem 1rem;
}

.sidebar-heading {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
